.addUrl {
    max-width: 400px;
    margin: 40px auto;
    border: 1px solid var(--border-color);
    border-radius: 100px;
    background-color: var(--background-color-input);
    padding: 3px;
}

.addUrl form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.addUrl form svg {
    font-size: initial;
    width: 5%;
    color: var(--text-color);
    margin: 5px;
}

.addUrl form input[type="text"] {
    border: none;
    background-color: transparent;
    width: 65%;
    padding: 15px 0;
    box-sizing: border-box;
}

.addUrl form input[type="submit"] {
    border: none;
    border-radius: 100px;
    background-color: var(--background-color-button);
    width: 30%;
    padding: 15px 0;
    cursor: pointer;
    font-weight: bold;
}

.addUrl form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: #FAFAFA;
    transition: 0.4s;
}

.input::placeholder {
    color: var(--text-color);
}

@media (max-width: 1024px) {
    .addUrl {
        width: 80%;
    }
}

@media (max-width: 568px) {
    .addUrl form input[type="submit"] {
        font-size: 10px;
    }
}