.tableContainer {
    margin: auto;
    max-width: 1000px;

}


.tableContainer>div:first-child {
    margin-left: auto;
    display: flex;
    align-items: center;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--background-color-input);
    padding: 10px;
    max-width: 40%;
    margin-bottom: 10px;
}

.tableContainer>div:first-child svg {
    width: 5%;
    color: var(--primary-color);
}

.tableContainer>div:first-child input {
    height: 100%;
    width: 95%;
    border: none;
    background-color: transparent;

}

.tableContainer .table {
    box-shadow: 4px 4px var(--shadow-color);
    border-collapse: collapse;
    width: 100%;

}

.tableContainer .table thead th {
    padding: 15px 10px;
    background-color: var(--background-color-header-table);
    border-bottom: 1px solid black;
    text-align: start;
}

.tableContainer .table tbody td {
    padding: 5px 10px;
    background-color: var(--background-color-rows-table);
    border-bottom: 1px solid black;
}

.tableContainer .table tbody td:nth-child(2){
    max-width: 150px;
}

.tableContainer .table tbody tr:last-child td {
    border-bottom: none;
}

.tableContainer .table tbody tr td div {
    display: flex;
    align-items: center;
}

.tableContainer .table tbody tr:nth-child(odd) td {
    background-color: var(--background-color-odd-rows-table);
}

.tableContainer .table tbody tr:nth-child(even) td {
    background-color: var(--background-color-even-rows-table);
}

.tableContainer .table tr td svg {
    cursor: pointer;
    font-size: 15px;
}

.tableContainer .controlButtons {
    text-align: right;
    margin: 10px 0;
}

.tableContainer .controlButtons {
    display: flex;
    align-items: center;
    justify-content: end;
}

.tableContainer .controlButtons button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 3px;
    background-color: var(--primary-color);
    border: 3px solid var(--border-color);
}

.tableContainer .controlButtons button:hover {
    background-color: var(--background-color-button);
}

.tableContainer .controlButtons button svg {
    margin: auto;
    font-size: 10px;
}




@media (max-width: 1248px) {

    .tableContainer .table thead th td,
    .tableContainer .table tbody tr td {
        max-width: 250px;
        padding: 10px 5px;
    }

    .tableContainer .table tr td svg {
        cursor: pointer;
        font-size: 10px;
    }
}


@media (max-width: 568px) {

    .tableContainer .table {
        box-shadow: none;
    }

    .tableContainer .table tbody tr td {
        max-width: 100px;
    }
}