.table {
    width: 100%;
    max-width: 700px;
    text-align: center;
    background-color: var(--background-color-table);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
}

.table thead th {
    padding: 15px;
    background-color: grey;
    font-size: 14px;
}


.table thead th:first-child {
    border-top-left-radius: 20px;
}

.table thead th:last-child {
    border-top-right-radius: 20px;
}

.table tbody tr:nth-child(even) {
    background-color: rgb(219, 219, 219);
}

.table tr td {
    padding: 15px;
    max-width: 50px;
    white-space: nowrap;
    overflow: auto;
}

.table tr td button {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: var(--delete-button-background);
    border-radius: 5px;
    border-color: transparent;
    margin: 5px auto;
}

@media only screen and (max-width: 992px) {
    .table thead th {
        padding: 10px 0;
    }
}